---

- name: "user: create .buildout main folder"
  become: yes
  become_user: jenkins
  file:
    path=/home/jenkins/.buildout
    state=directory
    owner=jenkins
    group=jenkins

- name: "user: create .buildout subfolders"
  become: yes
  become_user: jenkins
  file:
    path=/home/jenkins/.buildout/{{ item }}
    state=directory
    owner=jenkins
    group=jenkins
  with_items:
    - eggs
    - downloads
    - extends

- name: "user: add default.cfg buildout config file"
  become: yes
  become_user: jenkins
  copy:
    src=default.cfg
    dest=/home/jenkins/.buildout/default.cfg
    owner=jenkins
    group=jenkins
